<%- include('header.ejs') %>

<body>
    <form id = 'brand-form'  method="post" action="/brand" enctype="application/x-www-form-urlencoded">
        <p>Give brand Details</p>

        <div class="brand">

            <label> &nbsp; &nbsp;brand: &nbsp;</label>
            <input type="text" id="brand" name="name" placeholder="brand">
            <br> <br>
        </div>

        <div>
            <input type="submit" value="Sign-Up">
        </div>
    </form>
  
    <!-- <script src="survey.js"></script> -->
</body> 

</html>