<%- include('header.ejs') %>

<body>
    <form id = 'product-form'  method="post" action="/admin" enctype="application/x-www-form-urlencoded">
        <p>Give Details</p>

        <div class="product">
            <label>title: &nbsp;</label>
            <input type="text" id="title" name="title" placeholder="title">
            <br><br>

            <label> &nbsp;category:&nbsp;
            </label>
            <input type="text" id="category" name="category" placeholder="category">
            <br><br>
            
            <label> &nbsp; &nbsp;images: &nbsp;</label>
            <% for(var i=0; i<4; i++) {%>
                <input type="" id="images<%- i %>" name="images" placeholder="Age">
            <%}%>
            <br><br>

            <label> &nbsp; &nbsp;brand: &nbsp;</label>
            <input type="text" id="brand" name="brand" placeholder="brand">
            <br> <br>  

            <label> &nbsp; &nbsp;price: &nbsp;</label>
            <input type="text" id="price" name="price" placeholder="price">
            <br> <br> 

            <label> &nbsp; &nbsp;cpu: &nbsp;</label>
            <input type="text" id="cpu" name="cpu" placeholder="cpu">
            <br> <br>    
            
            <label> &nbsp; &nbsp;camera: &nbsp;</label>
            <input type="text" id="camera" name="camera" placeholder="camera">
            <br> <br> 
            
            <label> &nbsp; &nbsp;size: &nbsp;</label>
            <input type="text" id="size" name="size" placeholder="size">
            <br> <br>            
            
            <label> &nbsp; &nbsp;Weight: &nbsp;</label>
            <input type="text" id="weight" name="weight" placeholder="weight">
            <br> <br>

            <label> &nbsp; &nbsp;display: &nbsp;</label>
            <input type="text" id="display" name="display" placeholder="display">
            <br> <br>

            <label> &nbsp; &nbsp;battery: &nbsp;</label>
            <input type="text" id="battery" name="battery" placeholder="battery">
            <br> <br>

            <label> &nbsp; &nbsp;memory: &nbsp;</label>
            <input type="text" id="memory" name="memory" placeholder="memory">

            <label> &nbsp; &nbsp;memory: &nbsp;</label>
            <input type="text" id="description" name="description" placeholder="description">
            <br> <br>
        </div>

        <div>
            <input type="submit" value="Sign-Up">
        </div>
    </form>
    <!-- <script src="survey.js"></script> -->
</body> 

</html>